body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f3;
}

/* ==== G1 ME Form Styles ==== */

#g1-me {
    padding: 20px;
}

#g1-me h2 , #g2-me, #g3-me , #g4-me, #g5-me {
    text-align: center;
    margin-bottom: 20px;
}

.g1-form-grid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.g1-table {
    padding: 20px;
    border-radius: 10px;
    background: white;
    width: 95%;
    max-width: 500px;
}

.g1-label {
    padding: 12px;
    font-weight: bold;
}

.g1-input {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

.g1-submit-td {
    text-align: center;
    padding-top: 15px;
}

/* ==== G1 MEM Form Styles ==== */

#g1-mem {
    padding: 20px;
}

#g1-mem h2.g1-title , #g2-mem h2,
 #g3-mem h2 , #g4-mem h2, #g5-mem h2, #g1-cto h2 , #g2-cto h2,
 #g3-cto h2 , #g4-cto h2, #g5-cto h2 {
    text-align: center;
    margin-bottom: 20px;
}

.g1-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#g1-mem .g1-table {
    padding: 20px;
    border-radius: 10px;
    background: white;
    width: 95%;
    max-width: 500px;
}

#g1-mem .g1-label {
    padding: 12px;
    font-weight: bold;
}

#g1-mem .g1-input {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

#g1-mem .approval-group {
    display: flex;
    gap: 15px;
}

#g1-mem .custom-radio {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

#g1-mem .custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#g1-mem .radio-circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    border: 2px solid gray;
    border-radius: 50%;
}

#g1-mem .custom-radio input:checked ~ .radio-circle {
    background-color: gray;
    border-color: rgb(58, 53, 53);
}

#g1-mem .submit-btn {
     margin-top: 20px;    
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#g1-mem .submit-btn:hover {
    border: 1px solid #333  ;
    background-color: white;
    color: black;}

#g1-mem .download-link {
    color: #1a73e8;
    text-decoration: none;
}

#g1-mem .download-link:hover {
    text-decoration: underline;
}


/* grid container */

.gate-grid {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.gate-grid th, .gate-grid td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.gate-grid th {
    background-color: #f0f0f0;
}

